@model IEnumerable<WebSiteDT.Models.DonDatHang>


@{
    ViewBag.Title = "DaGiaoDaThanhToan";
    Layout = "~/Views/Layout/AdminLayout.cshtml";

    //Khởi tạo control WebGrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 20);
}


            <h3 class="text-uppercase">Quản lý đơn hàng (Danh sách đơn hàng đã giao và thanh toán)</h3>
            @*Dùng boostrap tạo 1 tab control với các liên kết đến các view khác*@
            <ul class="nav nav-tabs">
                <li role="presentation" ><a class="btn btn-info" href="@Url.Action("ChuaThanhToan","QuanLyDonHang")">Chưa thanh toán</a></li>
                <li role="presentation"><a class="btn btn-info"  href="@Url.Action("ChuaGiao", "QuanLyDonHang")">Chưa giao & Đã thanh toán </a></li>
                <li role="presentation" class="active"><a class="btn btn-info"  href="@Url.Action("DaGiaoDaThanhToan", "QuanLyDonHang")">Đã giao & Đã thanh toán</a></li>
            </ul>
            @*Dùng control Webgrid thể hiện dữ liệu model là danh sách các đơn đặt hàng được
        truy vấn theo điều kiện từ controller*@
            @grid.GetHtml(
                tableStyle: "divTable table-striped table-bordered table-sm bg-dark",
                headerStyle: "gridHead",
                footerStyle: "gridFooter",
                rowStyle: "gridRow",
                alternatingRowStyle: "gridAltRow",
                columns: grid.Columns(
                grid.Column("MaDDH", header: "Mã đơn hàng"),
                        grid.Column("MaKH", header: "Họ tên KH", format: p => p.MaKH != null ? p.KhachHang.TenKH : ""), //Dùng toán tử 3 ngôi thay cho điều kiện if
                    grid.Column("NgayDat", header: "Ngày đặt"),
                    grid.Column("TinhTrangGiaoHang", header: "Tình trạng giao hàng"),
                    grid.Column("NgayGiao", header: "Ngày giao"),
                    grid.Column("DaThanhToan", header: "Đã thanh toán"),
                    grid.Column("UuDai", header: "Ưu đãi"),
                    grid.Column("DaHuy", header: "Đã hủy"),
                grid.Column(format: p => @Html.ActionLink("Duyệt đơn hàng", "DuyetDonHang", new { id = p.MaDDH }, new { @target = "_blank" }))

                    ))


